/* Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pattaya', sans-serif;
}

html {
  /* font-size: 60.5% */
}

body {
  font-family: 'Poppins', sans-serif;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
}
.btn:hover {
  background:white;
  
}

/* Nav Section */

.header-container {
  width: 100%;
  display: flex;
  justify-content:center;
  background: black;
  flex-wrap: wrap;
   border:  5px solid 
}
.logo{
  width: 52%;
}
.log-text{
  padding:5px;
  font-family: 'Pattaya', sans-serif;
  color:orange;
  font-size:55px;
}
.navigation{
  width: 100%;
  border: 4px solid;
  display: flex;
  justify-content:center;
  
}
.navigation a{
  padding: 3px;
  color: orange;
  width: 100%;
  font-family: 'Pattaya', sans-serif;
  font-size: 20px;

}


/* Hero Section */

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent), url('https://foochinfc1cd0cfacea4ccea0ccc60fa3e20f1515410-dev.s3.amazonaws.com/public/images/f847e445-911e-47ff-8632-0b8ea59748f0Bisteck+Ensebollado+miercoles.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 43vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.featured{
background: black;  
}
.featured-head{
 color: orange;
 display: flex;
 justify-content: center;
 font-family: 'Pattaya', sans-serif;
 font-size:50px;
 padding:3px;
}
.featured-list{
  padding:1px;
}
.featured-plate{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin:10px;
  border-radius:40px 10px;
  color: orange;
  font-size:20px;
  border: 2px solid orange;
}
.plate-image img{
  border-radius:40px 10px;
  width:100%;
}
.btn{
  color: orange;
  font-size: 20px;
  border: 1px solid orange;
  width: 141px;
  text-align: center;
  border-radius: 20px 20px;
  padding: 3px;
}
.plates{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: orange;
  font-size:20px;
  border: 2px solid orange;
  background: black;
}
.plate{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin:10px;
  border-radius:40px 40px;
  color: orange;
  font-size:20px;
  border: 2px solid orange;
}

.plate-image{
  width:100%;
}
.plate-image img{
  width: 100%;
}
.book-link:hover {
  background: #343c43;
}
/* Cart Section */

.cart {
  width: 90%;
  margin: auto;
  text-align: center;
}

.cart-wrapper {
  display: flex;
  flex-direction: column;
}

.cart-item {
  margin: 2rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cart-item .image {
  flex: 1 1 10rem;
}

.cart-item img {
  width: 10rem;
}

.cart-item .details {
  flex: 2 1 10rem;
}

.cart-item .amount {
  flex: 1 1 10rem;
}

.cart-empty {
  position: absolute;
  top: 48%;
  left: 40%;
}

/* Checkout Section */

.checkout-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}

.stripe-section {
  margin-top: 2rem;
} 
@media screen and (min-width: 768px) {
  .header-container {
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction: row;
    align-items: center; 
  }.logo{
   width:20% 
  }
  .log-text{
    width: 48%;
    font-size:76px;
  }.navigation{
    width:30%;
    
  }.navigation a{
    font-size:50px;
    margin: 10px;
  }.featured-head{
    font-size:100px;
  }.featured-list{
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding: 10px;
  }.featured-plate {
   width:43%;
   display: flex;
   justify-content: center;
  }.plate-image img{
    width:100%;
  }
}
@media screen and (max-width: 1024px){
 .header-container{
   width:100%;
   display: flex;
 }.navigation{
   width:45%;
 }
}


 

